In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import ast
import pandas as pd
import numpy as np

In [2]:
main_data = pd.read_csv('all_with_liwc_segmented.csv')

In [3]:
md = main_data.copy()

In [4]:
md.head(3)

,index,comments,description,duration,event,film_date,languages,main_speaker,name,published_date,...,affect_change_h,posemo_change_q,negemo_change_q,affect_change_q,published_year,Harm,Fairness,Purity,Ingroup,Authority
0,0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1151367060,...,0.57,-1.53,0.25,-1.78,2006,0.00,0.00,0.03,0.03,0.41
1,1346,2290,"Body language affects how others see us, but i...",1262,TEDGlobal 2012,1340668800,51,Amy Cuddy,Amy Cuddy: Your body language may shape who yo...,1349103608,...,-0.45,-0.91,0.31,-1.22,2012,0.03,0.06,0.00,0.10,0.19
2,677,1930,Simon Sinek has a simple but powerful model fo...,1084,TEDxPuget Sound,1253145600,45,Simon Sinek,Simon Sinek: How great leaders inspire action,1272965460,...,-0.87,-1.64,0.92,-2.56,2010,0.10,0.03,0.00,0.03,0.69

In [19]:
md.corr()

,index,comments,duration,languages,views,music,conversation,persuasive,inspiring,unconvincing,...,ingenious,courageous,longwinded,confusing,informative,fascinating,jaw-dropping,ok,obnoxious,rating-count
index,1.000000,-0.213069,-0.217279,-0.328445,-0.036984,NaN,NaN,-0.134627,-0.064696,-0.197650,...,-0.189688,-0.014762,-0.363774,-0.281301,-0.078033,-0.159935,-0.169377,-0.225992,-0.199803,-0.142077
comments,-0.213069,1.000000,0.167802,0.384932,0.531516,NaN,NaN,0.632932,0.555036,0.452351,...,0.436698,0.536393,0.460980,0.381844,0.508624,0.534356,0.327351,0.473390,0.415061,0.640115
duration,-0.217279,0.167802,1.000000,-0.307371,0.063301,NaN,NaN,0.164903,0.110436,0.038262,...,0.020054,0.128960,0.353745,0.121623,0.133518,0.136915,0.051532,-0.072410,0.084030,0.122256
languages,-0.328445,0.384932,-0.307371,1.000000,0.394600,NaN,NaN,0.335322,0.340265,0.237529,...,0.320368,0.248868,0.199780,0.229855,0.355708,0.330842,0.188174,0.515199,0.188914,0.398660
views,-0.036984,0.531516,0.063301,0.394600,1.000000,NaN,NaN,0.732937,0.793649,0.282973,...,0.602397,0.561159,0.459619,0.409125,0.765814,0.776538,0.439573,0.712802,0.261520,0.874196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fascinating,-0.159935,0.534356,0.136915,0.330842,0.776538,NaN,NaN,0.638794,0.723448,0.243648,...,0.654602,0.487633,0.447724,0.412684,0.796312,1.000000,0.654988,0.568106,0.226808,0.882955
jaw-dropping,-0.169377,0.327351,0.051532,0.188174,0.439573,NaN,NaN,0.268767,0.377305,0.123110,...,0.558975,0.298007,0.225754,0.270059,0.381604,0.654988,1.000000,0.268427,0.155396,0.583004
ok,-0.225992,0.473390,-0.072410,0.515199,0.712802,NaN,NaN,0.614263,0.581377,0.496932,...,0.425099,0.345762,0.631868,0.539072,0.627432,0.568106,0.268427,1.000000,0.377983,0.660215
obnoxious,-0.199803,0.415061,0.084030,0.188914,0.261520,NaN,NaN,0.285632,0.223092,0.762359,...,0.163429,0.241774,0.526783,0.583541,0.200224,0.226808,0.155396,0.377983,1.000000,0.309868
rating-count,-0.142077,0.640115,0.122256,0.398660,0.874196,NaN,NaN,0.819926,0.923185,0.319930,...,0.678070,0.680202,0.507574,0.427391,0.806595,0.882955,0.583004,0.660215,0.309868,1.000000

In [5]:
md['comments'] = md['comments'].astype('int32')
md['description'] = md['description'].str.lower().str.strip()
md['duration'] = md['duration'].astype('int32')
md['event'] = md['event'].astype('category').str.lower().str.strip()
md['film_date'] = pd.to_datetime(md['film_date'], unit='s')
md['languages'] = md['languages'].astype('int32')
md['main_speaker'] = md['main_speaker'].str.lower().str.strip()
md['name'] = md['name'].str.lower().str.strip()

md['published_date'] = pd.to_datetime(md['published_date'], unit='s')
md['speaker_occupation'] = md['speaker_occupation'].astype('category').str.lower().str.strip()
md['title'] = md['title'].str.lower().str.strip()

In [6]:
#Don't need film_date,  published_date is enough
md.drop('film_date', axis=1, inplace= True)
mdcopy=md.copy()

In [7]:
mdcopy.shape

(2406, 186)

In [8]:
#unpack ratings
md.ratings = md.ratings.apply(ast.literal_eval)
md.ratings[0]

[{'id': 7, 'name': 'Funny', 'count': 19645},
 {'id': 1, 'name': 'Beautiful', 'count': 4573},
 {'id': 9, 'name': 'Ingenious', 'count': 6073},
 {'id': 3, 'name': 'Courageous', 'count': 3253},
 {'id': 11, 'name': 'Longwinded', 'count': 387},
 {'id': 2, 'name': 'Confusing', 'count': 242},
 {'id': 8, 'name': 'Informative', 'count': 7346},
 {'id': 22, 'name': 'Fascinating', 'count': 10581},
 {'id': 21, 'name': 'Unconvincing', 'count': 300},
 {'id': 24, 'name': 'Persuasive', 'count': 10704},
 {'id': 23, 'name': 'Jaw-dropping', 'count': 4439},
 {'id': 25, 'name': 'OK', 'count': 1174},
 {'id': 26, 'name': 'Obnoxious', 'count': 209},
 {'id': 10, 'name': 'Inspiring', 'count': 24924}]

In [9]:
def co(i):
    counts = 0
    for item in i:
        counts += item["count"]
    return counts

In [10]:
#Add new columns
for i, rate in enumerate(md.ratings):
    maximum = ["", 0]
    for item in rate:
        md.loc[i, item['name'].lower()] = item['count']
        #Add a column which shows which rated object has the most value
        if item['count'] > maximum[1]:   
            maximum = [item['name'].lower(), item['count']]
    md.loc[i, 'maximum-rated'] = maximum[0]

In [11]:
#Add total rating count
md["rating-count"] = md.ratings.apply(lambda x: co(x))
md.head(1)

,index,comments,description,duration,event,languages,main_speaker,name,published_date,ratings,...,courageous,longwinded,confusing,informative,fascinating,jaw-dropping,ok,obnoxious,maximum-rated,rating-count
0,0,4553,sir ken robinson makes an entertaining and pro...,1164,ted2006,60,ken robinson,ken robinson: do schools kill creativity?,2006-06-27 00:11:00,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...",...,3253.0,387.0,242.0,7346.0,10581.0,4439.0,1174.0,209.0,inspiring,93850

In [12]:
#unpack related_talks
md.related_talks = md.related_talks.apply(ast.literal_eval)
md.related_talks[0]

[{'id': 865,
  'hero': 'https://pe.tedcdn.com/images/ted/172559_800x600.jpg',
  'speaker': 'Ken Robinson',
  'title': 'Bring on the learning revolution!',
  'duration': 1008,
  'slug': 'sir_ken_robinson_bring_on_the_revolution',
  'viewed_count': 7266103},
 {'id': 1738,
  'hero': 'https://pe.tedcdn.com/images/ted/de98b161ad1434910ff4b56c89de71af04b8b873_1600x1200.jpg',
  'speaker': 'Ken Robinson',
  'title': "How to escape education's death valley",
  'duration': 1151,
  'slug': 'ken_robinson_how_to_escape_education_s_death_valley',
  'viewed_count': 6657572},
 {'id': 2276,
  'hero': 'https://pe.tedcdn.com/images/ted/3821f3728e0b755c7b9aea2e69cc093eca41abe1_2880x1620.jpg',
  'speaker': 'Linda Cliatt-Wayman',
  'title': 'How to fix a broken school? Lead fearlessly, love hard',
  'duration': 1027,
  'slug': 'linda_cliatt_wayman_how_to_fix_a_broken_school_lead_fearlessly_love_hard',
  'viewed_count': 1617101},
 {'id': 892,
  'hero': 'https://pe.tedcdn.com/images/ted/e79958940573cc610ccb583619a54866c41ef303_2880x1620.jpg',
  'speaker': 'Charles Leadbeater',
  'title': 'Education innovation in the slums',
  'duration': 1138,
  'slug': 'charles_leadbeater_on_education',
  'viewed_count': 772296},
 {'id': 1232,
  'hero': 'https://pe.tedcdn.com/images/ted/0e3e4e92d5ee8ae0e43962d447d3f790b31099b8_800x600.jpg',
  'speaker': 'Geoff Mulgan',
  'title': 'A short intro to the Studio School',
  'duration': 376,
  'slug': 'geoff_mulgan_a_short_intro_to_the_studio_school',
  'viewed_count': 667971},
 {'id': 2616,
  'hero': 'https://pe.tedcdn.com/images/ted/71cde5a6fa6c717488fb55eff9eef939a9241761_2880x1620.jpg',
  'speaker': 'Kandice Sumner',
  'title': "How America's public schools keep kids in poverty",
  'duration': 830,
  'slug': 'kandice_sumner_how_america_s_public_schools_keep_kids_in_poverty',
  'viewed_count': 1181333}]

In [13]:
#unpack tags
md.tags = md.tags.apply(ast.literal_eval)
md.tags[0]

['children',
 'creativity',
 'culture',
 'dance',
 'education',
 'parenting',
 'teaching']

In [14]:

md.head()

,index,comments,description,duration,event,languages,main_speaker,name,published_date,ratings,...,courageous,longwinded,confusing,informative,fascinating,jaw-dropping,ok,obnoxious,maximum-rated,rating-count
0,0,4553,sir ken robinson makes an entertaining and pro...,1164,ted2006,60,ken robinson,ken robinson: do schools kill creativity?,2006-06-27 00:11:00,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...",...,3253.0,387.0,242.0,7346.0,10581.0,4439.0,1174.0,209.0,inspiring,93850
1,1346,2290,"body language affects how others see us, but i...",1262,tedglobal 2012,51,amy cuddy,amy cuddy: your body language may shape who yo...,2012-10-01 15:00:08,"[{'id': 23, 'name': 'Jaw-dropping', 'count': 3...",...,6305.0,338.0,197.0,9787.0,11111.0,3586.0,1129.0,155.0,inspiring,65968
2,677,1930,simon sinek has a simple but powerful model fo...,1084,tedxpuget sound,45,simon sinek,simon sinek: how great leaders inspire action,2010-05-04 09:31:00,"[{'id': 21, 'name': 'Unconvincing', 'count': 9...",...,1161.0,390.0,112.0,6600.0,7440.0,2659.0,1341.0,294.0,inspiring,56779
3,837,1927,brenÃ¬Â© brown studies human connection -- our a...,1219,tedxhouston,52,brenÃ¬Â© brown,brenÃ¬Â© brown: the power of vulnerability,2010-12-23 14:45:00,"[{'id': 10, 'name': 'Inspiring', 'count': 2144...",...,8280.0,283.0,155.0,4561.0,4638.0,2100.0,500.0,113.0,inspiring,60078
4,452,354,"""bonk"" author mary roach delves into obscure s...",1003,ted2009,37,mary roach,mary roach: 10 things you didn't know about or...,2009-05-20 01:00:00,"[{'id': 23, 'name': 'Jaw-dropping', 'count': 3...",...,519.0,184.0,110.0,2231.0,1752.0,363.0,715.0,209.0,funny,11273

In [15]:
import ast
mdcopy['tags'] = mdcopy['tags'].apply(lambda x: ast.literal_eval(str(x)) )

In [16]:
s = mdcopy.apply(lambda x: pd.Series(x['tags']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'theme'

mdcopy= mdcopy.drop('tags', axis=1).join(s)
mdcopy.head()

,index,comments,description,duration,event,languages,main_speaker,name,published_date,ratings,...,posemo_change_q,negemo_change_q,affect_change_q,published_year,Harm,Fairness,Purity,Ingroup,Authority,theme
0,0,4553,sir ken robinson makes an entertaining and pro...,1164,ted2006,60,ken robinson,ken robinson: do schools kill creativity?,2006-06-27 00:11:00,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...",...,-1.53,0.25,-1.78,2006,0.0,0.0,0.03,0.03,0.41,children
0,0,4553,sir ken robinson makes an entertaining and pro...,1164,ted2006,60,ken robinson,ken robinson: do schools kill creativity?,2006-06-27 00:11:00,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...",...,-1.53,0.25,-1.78,2006,0.0,0.0,0.03,0.03,0.41,creativity
0,0,4553,sir ken robinson makes an entertaining and pro...,1164,ted2006,60,ken robinson,ken robinson: do schools kill creativity?,2006-06-27 00:11:00,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...",...,-1.53,0.25,-1.78,2006,0.0,0.0,0.03,0.03,0.41,culture
0,0,4553,sir ken robinson makes an entertaining and pro...,1164,ted2006,60,ken robinson,ken robinson: do schools kill creativity?,2006-06-27 00:11:00,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...",...,-1.53,0.25,-1.78,2006,0.0,0.0,0.03,0.03,0.41,dance
0,0,4553,sir ken robinson makes an entertaining and pro...,1164,ted2006,60,ken robinson,ken robinson: do schools kill creativity?,2006-06-27 00:11:00,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...",...,-1.53,0.25,-1.78,2006,0.0,0.0,0.03,0.03,0.41,education

In [17]:
mdcopy.shape

(18317, 186)

In [52]:
md.to_excel(r'Export_Clean_Ted.xlsx')

In [18]:
mdcopy.to_excel(r'Export_Clean_Ted_Tag.xlsx')